---
name: Copilot Setup Steps
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/copilot-setup-steps.yml
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.7
      - name: Setup node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8  # v4.0.4
        with:
          node-version-file: .nvmrc
      - name: Install Node.js dependencies
        run: npm ci
